{% extends "base_navbar.html" %}
{% load staticfiles %}
{% block head_title %}Courses | {{ block.super }}{% endblock %}
{% block content %}
<div class="content">
       <div class="container-fluid">
              <div class="row">
                     <div class="col-md-9">
              	<h1>{{ title }}</h1>
                     <div class="row">
              		{% for obj in object_list %}
              		<div class="col-sm-6 col-md-4">
                     		<div class="thumbnail">
                     			<img src="{% static 'img/book.jpg' %}" alt>
                     			<div class="caption">
                     				<h3><a href='{{ obj.get_absolute_url }}'>{{ obj.course_code }}</a></h3>
                     				<p>{{ obj.course_title }}</p>
                     			</div>
                     	    </div>
                            </div>
              	      {% endfor %}
              	</div>
                     </div>
                     <div class="col-md-3" style="padding-top: 7vh;">
                            <table class="table">
                            <thead>
                            <tr>
                                   <th scope="col">ToDo</th>
                                   <th scope="col">Due Date</th>
                            </tr>
                            </thead>
                            <tbody>
                                   {% for obj in todo %}
                                   <tr>
                                   <td><a href=''>{{ obj.title }}</a></td>
                                   <td>{{ obj.due_date }}</td>
                                   </tr>
                                   {% endfor %}
                            </tbody>
                            </table>
                     </div>
              </div>
       </div>
</div>
{% endblock %}