{% extends "base_navbar.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
       {% include "side_bar.html" with cid=id %}
    	<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
		<h1>{{ title }}</h1>
		<div> 
			<table class="table">
				<thead>
					<tr>
						<th>{{instance.title}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Due_date: {{instance.due_date}}</td>
						<td>Points: {{instance.total_points}}</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>This is the content of assignment:{{instance.assignment_description}}</td>
					</tr>
				</tbody>
			</table>
		</div>
    	</main>
	</div>
</div>
{% endblock %}