{% extends "base_navbar.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
	{% include "side_bar.html" with cid=id %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
	<h1>{{ title }}</h1>
	<table class="table">
		<thead>
		    <tr>
		      <th scope="col">Assignment title</th>
		      <th scope="col">Assignment question</th>
		      <th scope="col">Due date</th>
		      <th scope="col">total points</th>
		    </tr>
		</thead>
		<tbody>
	       	{% for obj in object_list %}
	       		{% if obj.is_past_due %}
			    <tr>
			      <td><a href="{% url 'courses:submissions:submission_list' cid=id aid=obj.id %}">{{ obj.title }}</a></td>
			      {% if obj.question %}
			      	<td><a href='{{ obj.question.url }}'>{{ obj.question }}</a></td>
			      {% else %}
			      	<td></td>
			      {% endif %}
			      <td>{{ obj.due_date }}</td>
			      <td>{{ obj.total_points }}</td>
			    </tr>
				{% endif %}
	       	{% endfor %}
       	</tbody>
	</table>
    </main>
  </div>
</div>
{% endblock %}