{% extends "base.html" %}
{% block navbar %}
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href='{% url "home" %}'><i class="fa fa-home" aria-hidden="true"></i>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='{% url "profile:user_profile" %}'><i class="fa fa-user-circle-o" aria-hidden="true"></i>Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'help' %}"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Help <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i>Logout <span class="sr-only">(current)</span></a>
      </li>
    </ul>
</div>
{% endblock %}
{% block content %}
{% endblock %}
