{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../../../favicon.ico"-->

    <title>ChalkBox</title>
  
    {% include 'main_css.html' %}
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <!--nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4"-->
        <a class="navbar-brand" href="{% url 'home' %}">ChalkBox</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          {% block navbar %}
          
          {% endblock %}
        </div>
      </nav>
    </header>
    {% block content %}

    {% endblock %}

    {% include 'main_js.html' %}
  </body>
</html>
