{% load staticfiles %}
<!doctype html>
<html lang="en">
		<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				<meta name="description" content="">
				<meta name="author" content="">
				<link rel="icon" type="image/ico" href="/static/img/logo.png" />
				<title>{% block head_title %}ChalkBox{% endblock %}</title>
			
				{% include 'head_css.html' %}
				{% block style %}

				{% endblock %}
		</head>

		<body>
			<header>
				<nav class="navbar navbar-default navbar-static-top">
					<div class="navbar-header">
					    <a class="navbar-brand" href='{% url "home" %}'><img src="{% static 'img/CBtemp.png' %}" /></a>
					</div>
					{% block navbar %}
					{% endblock %}

				</nav>
			</header>

			{% block content %}

			{% endblock %}


				<!--footer class="footer">
		            <div class="container">
		                <p class="pull-right">
		                    <a href="#" target="_blank">
		                        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
		                    </a>
		                    <a href="#" target="_blank">
		                        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
		                    </a>
		                </p>
		                <p>&copy; ChalkBox - A Learning Management System | All Rights Reserved</p>
		            </div>
		        </footer--><!--/#footer-->
				{% include 'javascript.html' %}
		</body>
</html>
