{% extends "base_navbar.html" %}
{% load staticfiles %}
{% block head_title %}Help | {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="content">
		<h3>What is ChalkBox?</h3>
		<p> ChalkBox is a Learning Management System</p>
		<h3>What can you do with ChalkBox?</h3>
		<p>View regirtered courses</p>
		<p>View Syllabus</p>
		<p>view and submit assignments</p>
		<p>View Grades</p>
		<h3>USER MANUAL:</h3> 
		<a href="{% static 'img/Installation and User Manual.pdf' %}" alt>UserManual.pdf</a>
	</div>
</div>

{% endblock %}