{% extends "base_navbar.html" %}
{% load staticfiles %}
{% block head_title %}Help | {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="content">
		<h3>What is ChalkBox?</h3>
		<p> ChalkBox is a Learning Management System</p>
		<h3>What can you do with ChalkBox?</h3>
		<h4>STUDENT</h4>
		<p>To view your registered courses <a href="/courses/"> click here </a> </p>
		<p>To view the syllabus click on the Syllabus link on top left corner of your course page</p>
		<p>To view the new assignments and/or to submit assignments, click on assignmnets within the course page</p>
		<p>To view Grades of a particular course, click on grades </p>
		<h4>INSTRUCTOR</h4>
		<p>To view your courses <a href="/courses/"> click here </a> </p>
		<p>To view the syllabus of your courses and/or to upload a new syllabus, click on the Syllabus link on top left corner of the course page</p>
		<p>To upload a new assignments and/or to modify existing assignments, click on the assignment link in your course page</p>
		<p>To view the submissions of each student, click on submissions</p>
		<p>To view the class performance, click on grades </p>
		<h3>USER MANUAL:</h3> 
		<a href="{% static 'img/Installation and User Manual.pdf' %}" alt>UserManual.pdf</a>
	</div>
</div>

{% endblock %}