{% extends "base_navbar.html" %}
{% block content %}        
<div class="container-fluid">
  <div class="row">
	{% include "side_bar.html" with cid=instance.id %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
	{% if request.user.is_staff %}
	<!--form method = "post" action="." enctype = "multipart/form-data">
		{% csrf_token %}
	<input type="file" id="upload" name="upload" accept="application/pdf"><br>
	<input type="submit" name="upload_button" value="upload">
	</form!-->
	{% else %}

		<h1>{{ instance.title }}</h1>
		{% if instance.syllabus %}
			<a href='{{ instance.syllabus.url }}'>{{ instance.syllabus }}</a>
		{% endif %}
	</main>
	</div>
</div>		
{% endblock %}


