{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Create Assignment | {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid">
       {% include "side_bar.html" with cid=id %}
    	<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-2">
    		<div class="content">
			<h1>Create Assignment:</h1>
			<div> 
				<form method='POST' action='' enctype="multipart/form-data">{% csrf_token %}
				{{ form|crispy }}

				<input class='btn btn-default' type='submit' value='Confirm' />

				</form>
		
			</div>
		</div>
    	</main>
</div>

{% endblock %}