{% extends "base_navbar.html" %}
{% block head_title %}Student List | {{ block.super }}{% endblock %}
{% block content %}
<div class="modal-body row">
       {% include "side_bar.html" with cid=id %}
       <div class="col-sm-9">
        <div class="content">
          <!--div class="row"-->
            <h1>{{ title }}</h1>
            <table class="table">
            <thead>
            <tr>
                   <th scope="col">Names</th>
            </tr>
            </thead>
            <tbody>
              {% for obj in object_list %}
              <tr>
              <td><a href='{% url "courses:accounts:detail" cid=id user=obj.id %}'>{{ obj.username }}</a></td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
        <!--/div-->
       </div>
  </div>
</div>
{% endblock %}