{% extends "base_navbar.html" %}
{% block head_title %}Student Detail | {{ block.super }}{% endblock %}
{% block content %}
<div class="modal-body row">
       {% include "side_bar.html" with cid=id %}
       <div class="col-md-9">
       <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-2">
       	<div class="content">
		<h1>Name: {{ name }}</h1>
		<div> 
			<h3>Email:</h3> {{ user.email }}
			<h3>Contact:</h3> {{ user.phone_number }}
			<h3>Biography:</h3>
			<p>{{ user.biography }}</p>
			<h3>Enrollments:</h3>
			{% for course in courses %}
				<h5><a href='{{ course.get_absolute_url }}'>{{ course.course_code }}</a></h5>
			{% endfor %}
		</div>
       </div>
  </div>
</div>
{% endblock %}
