{% extends "base_navbar.html" %}
{% block head_title %}Grades | {{ block.super }}{% endblock %}
{% block content %}
<div class="modal-body row">
	{% include "side_bar.html" with cid=id %}
    <div class="col-md-9">
    <div class="content">
	<h1>GradeBook</h1>
	<table class="table">
		<thead>
		    <tr>
		      <th scope="col">Title</th>
		      <th scope="col">Due_date</th>
		      <th scope="col">Points</th>
		      <th scope="col">Total points</th>		      
		      <th scope="col">Percentage</th>
		    </tr>
		</thead>
		<tbody>
	       	{% for obj in object_list %}
	       	{%  widthratio obj.points obj.assignment.total_points 100 as ratios %}
			    <tr>
			     
			      <td>{{ obj.assignment.title }}</td>
			      <td>{{ obj.assignment.due_date }}</td>
			      <td>{{ obj.points }}</td>
			      <td>{{ obj.assignment.total_points }}</td>
			      <td>{{ ratios }}%</td>
			    </tr>
	       	{% endfor %}
	       	    <tr>
			     {%  widthratio points total 100 as percent %}
			      <td><b>Total</b></td>
			      <td></td>
			      <td>{{ points }}</td>
			      <td>{{ total }}</td>
			      <td>{{ percent }}%</td>
			      
			    </tr>
       	</tbody>
	</table>
	</div>
    </div>
</div>
{% endblock %}